@model DataAccess.Pedido
@using AparejosApp.Models
@using AparejosApp.Mvc.Helpers
@{
    ViewBag.Title = "Agregar Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo</h2>

<style>
    label.error {
        color: red;
    }

    .valid {
        color: green;
    }
</style>

@*@using (Html.BeginForm("Create", "Pedidos", FormMethod.Post, new { @id = "form-pedido" })) 
{*@
<form id="form-pedido" action="@Url.Action("Create","Pedidos")" method="post">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Pedido</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ClienteID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClienteID",null,"Seleccione...", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClienteID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductoID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProductoID", null, "Seleccione...", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductoID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.TipoCarroID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoCarroID", null, "Seleccione...", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoCarroID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.EstadoPagoPedidoID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EstadoPagoPedidoID", null, "Seleccione...", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstadoPagoPedidoID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoPedidoID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoPedidoID", null, "Seleccione...", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoPedidoID, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.EstadoFabricacionPedidoID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EstadoFabricacionPedidoID", null, "Seleccione...", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstadoFabricacionPedidoID, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.FechaEstimadaEntrega, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span><input type="text" name="FechaEstimadaEntrega" readonly="readonly" class="form-control" style="width:26.5%">
                </div>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalPrecio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 input-group">
                <span class="input-group-addon">$</span>
                <input type="text" name="TotalPrecio" disabled="disabled" class="form-control" style="width:26.5%">
            </div>
           
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control", @rows = "4" })
                @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submitPedido" type="submit" value="Agregar" class="btn btn-info" />
            </div>
        </div>
    </div>
</form>
@*}*@

<div>
    @Html.ActionLink("Volver", "Index")
</div>
@section Scripts{
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script type="text/javascript">
        var initialJsonData = {};
        @Html.RegisterJavascriptVariable("initialJsonData.ListProductos", (List<SelectProducto>)ViewBag.ListProductos)

    </script>
    <script src="~/Scripts/Pedidos/Pedidos-Create.js"></script>
    }
