@model DataAccess.Pedido

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>Pedido Nº @Model.ID</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.NombreApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.NombreApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productos.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCarro.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCarro.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPedido.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPedido.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoFabricacionPedido.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoFabricacionPedido.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEstimadaEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEstimadaEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrecio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrecio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control", @rows = "4" ,@readonly="readonly"})
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.EstadoPagoPedido.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoPagoPedido.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Volver", "Index")
</p>
