@model IEnumerable<DataAccess.Pedido>
@using AparejosApp.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<link href="~/Scripts/daterangepicker.css" rel="stylesheet" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar un pedido", "Create","Pedidos", new { @class = "btn btn-warning" })
</p>

<form class="row" method="get" action="@Url.Action("Index","Pedidos")">
    <div class="col-md-4">
        <input type="radio" name="tipoFiltro" value="@Enumeradores.TipoFiltroPedidos.PorRangoFechaYTerminados" />
        &nbsp;<label>Ver pedidos terminados entre fechas</label>
    </div>
    <div class="col-md-4">
        <input type="radio" name="tipoFiltro" value="@Enumeradores.TipoFiltroPedidos.Terminados" />
        &nbsp;<label>Ver pedidos terminados por prioridad</label>
    </div>
    <div class="col-md-2">
        <input type="radio" name="tipoFiltro" value="@Enumeradores.TipoFiltroPedidos.Normal" />
        &nbsp;<label>Ver Todos</label>
    </div>
    <div class="col-md-2">
        <input type="submit" value="Obtener" class="btn btn-success btn-block" />
    </div><br />
    <div class="form-group col-md-6" hidden id="RangoFechas">
        <label class="control-label">Seleccione las fechas:&nbsp;</label>
        <input class="form-control" type="text" name="rangoFechas" value="" />
    </div><br />
</form>
    

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.NombreApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoFabricacionPedido.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoPagoPedido.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPedido.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCarro.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.NombreApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoFabricacionPedido.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoPagoPedido.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPedido.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCarro.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.ID }) |
            <a href="#" onclick="EliminarPedido(@item.ID)">Eliminar</a>
        </td>
    </tr>
}

</table>

@section Scripts{
    <script src="~/Scripts/sweetalert.min.js"></script>
    
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
<script src="~/Scripts/Pedidos/Pedidos-General.js"></script>
    }